<div class="mt-24 px-4 sm:px-6 lg:px-8">
  <div class="sm:flex sm:items-center">
    <div class="sm:flex-auto"></div>
    <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none">
      <a href="/teams/new"
        class="block rounded-md bg-indigo-600 px-3 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
        Add player
      </a>
    </div>
  </div>
</div>
<section>
  <ul role="list"
    class="mx-auto grid max-w-2xl grid-cols-1 gap-x-6 gap-y-20 sm:grid-cols-3 lg:mx-0 lg:max-w-none lg:gap-x-8 xl:col-span-2">
    <li *ngFor="let player of data">
      <fm-players-list [player]="player"></fm-players-list>
    </li>
  </ul>
</section>